@model HouCell.Models.HiseModel

@{
    ViewData["Title"] = "Senzorji";
    DateTime datum = DateTime.Now;
}

<h2>Vaši senzorji</h2>

<!--
    trojni foreach loop
    prvi loop:
        Gre čez vse hiše ki jih hrani sprejeti model ( to so hiše, ki jih ima uporabnik)
        drugi loop:
            Gre čez vse sobe ki jih hrani posamična hiša
            tretji loop:
                gre čez vse senzorje v bazi in izipše tiste, ki imajo isti sobaID kot soba iz drugega loopa
-->


@foreach (var hise in Model.HiseSeznam)
{
    var luc = 0;

    SunsetAPI sunset = SunsetAPI.getTime(hise.Lat, hise.Lng);




    @if (hise.Soba.Count != 0)
    {
<div class="row">
    <h3>@hise.Naslov</h3>
   

    @foreach (var sobe in hise.Soba)
    {
        <div class="row">
            <h4>@sobe.ImeSobe</h4>
            @foreach (var senzor in Model.Senzorji)
            {
                @if (senzor.SobaId == sobe.SobaId)
                {
                    <div class="row">
                        @if (senzor.SenzorId == 1)
                        {
                            <div class="col-md-3">
                                @senzor.Senzor.ImeSenzorja temperatura: @senzor.VrednostSenzorja °C
                            </div>

                            <div class="col-md-4">
                                @if (senzor.VrednostSenzorja <= 17)
                                {
                                    if (datum.Month < 9 && datum.Month > 5)
                                    {
                                        @Html.Raw("V sobi je hladno, zmanjšajte klimo.")
                                    }
                                    else
                                    {
                                        @Html.Raw("V sobi je hladno.")
                                    }
                                }

                                else if (18 <= senzor.VrednostSenzorja && senzor.VrednostSenzorja < 26)
                                {
                                    @Html.Raw("Sobna temperatura.")
                                }

                                else if (senzor.VrednostSenzorja > 26)
                                {
                                    if (datum.Month > 8 || datum.Month < 6)
                                    {
                                        @Html.Raw("V sobi je zelo vroče, zmanjšajte gretje.")
                                    }
                                    else
                                    {
                                        @Html.Raw("V sobi je zelo vroče.")
                                    }
                                }

                                else if (senzor.VrednostSenzorja > 150)
                                {
                                    @Html.Raw("Previsoka temperatura je sprožila alarm!")
                                }
                            </div>
                        }

                        else if (senzor.SenzorId == 2)
                        {

                            <div class="col-md-3">
                                @senzor.Senzor.ImeSenzorja stopnja svetlosti: @senzor.VrednostSenzorja
                            </div>

                            <div class="col-md-4">
                                @if (20 <= senzor.VrednostSenzorja && senzor.VrednostSenzorja < 70)
                                {
                                    @Html.Raw("Najverjetneje je prižgana luč.")
                                    luc = 1;
                                }

                                else if (senzor.VrednostSenzorja < 20)
                                {
                                    @Html.Raw("V sobi je zelo temno.")
                                    luc = 0;
                                }

                                else if (70 <= senzor.VrednostSenzorja && senzor.VrednostSenzorja <= 100)
                                {
                                    @Html.Raw("V sobi je zelo svetlo -> velika poraba energije.")
                                    luc = 1;
                                }

                            </div>
                        }

                        else if (senzor.SenzorId == 3)
                        {
                            <div class="col-md-3">
                                @senzor.Senzor.ImeSenzorja vlažnost zraka: @senzor.VrednostSenzorja %
                            </div>

                            <div class="col-md-4">
                                @if (senzor.VrednostSenzorja < 30)
                                {
                                    @Html.Raw("Zrak v sobi je zelo suh.")
                                }
                                else if (30 <= senzor.VrednostSenzorja && senzor.VrednostSenzorja < 55)
                                {
                                    @Html.Raw("Vlaga v prostoru je optimalna.")
                                }
                                else if (senzor.VrednostSenzorja > 55)
                                {
                                    @Html.Raw("Stopnja vlage v zraku, je prevelika in je zdravju škodljiva!")
                                }
                            </div>

                        }

                        else if (senzor.SenzorId == 4)
                        {
                            <div class="col-md-3">
                                @senzor.Senzor.ImeSenzorja zaznavanje premika: @senzor.VrednostSenzorja
                            </div>

                            <div class="col-md-4">
                                @if (senzor.VrednostSenzorja == 0)
                                {
                                    if (luc == 1)
                                    {
                                        if (datum.TimeOfDay.CompareTo(sunset.Sunrise.TimeOfDay) <= 0 || datum.TimeOfDay.CompareTo(sunset.Sunset.TimeOfDay) >= 0)
                                        {
                                            @Html.Raw("Soba je prazna, ugasni luč.")
                                        }
                                        else
                                        {
                                            @Html.Raw("Soba je prazna.")
                                        }

                                    }
                                    else
                                    {
                                        @Html.Raw("Soba je prazna.")
                                    }
                                }
                                else
                                {
                                    @Html.Raw("Nekdo je v sobi.")
                                }
                            </div>
                        }
                    </div>
                }
            }
        </div>
    }
</div>
    }
}