@model IEnumerable<HouCell.Models.Senzorji>

@{
    ViewData["Title"] = "Senzorji";
}

<h2>Senzorji</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SenzorId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SobaId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VrednostSenzorja)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.SenzorId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SobaId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VrednostSenzorja)
                </td>
            </tr>
        }
    </tbody>
</table>
